@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar {
    padding: 30px 20px 8px 20px;
    background-color: #fff;
    height: 2.4rem;
}

.logo {
    width: 130px;
}

.top-logo {
    position: relative;
    top: -.3rem;
    float: left;
}

.ham-img {
    position: relative;
    right: 1rem;
    bottom: .39em;
    cursor: pointer;
    float: right;
}

.close-img {
    position: absolute;
    right: 2.25rem;
    top: -2.825rem;
    width: 2rem;
    cursor: pointer;
}

.nav-overlay {
    position: absolute;
    top: 4.3rem;
    left: 0;
    z-index: 500;
    background-color: #662716;
    width: 100%;
    height: 540vh;
    display: none;
}

.nav-menu {
    margin: 0;
    padding: 0;
    height: 0;
}

.nav-menu li {
    list-style: none;
    font-family: 'Karla', sans-serif;
    color: #fff;
    top: 50%;
    left: 0%;
    height: 1rem;
    width: 100%;
    text-align: center;
    font-size: 37px;
    line-height: 0px;
    margin: 4rem 0 0 0;
    padding: 0rem 0 0 0;

    transition: .25s ease-in-out;
}

.l1:hover, .l2:hover, .l3:hover {
    opacity: .6;
}

.l4 a {
    border: 1px solid #fff;
    font-size: 32px;
}

.l4 a:hover, .l4 li:hover {
    border: 1px solid #fff;
    font-size: 32px;
    background-color: #fff;
    color: #662716;
    transition: .25s ease-in-out;
}

.nav-menu a {
    color: #fff;
    padding: 10px 30px;
    transition: .02s ease-in-out;
}

.nav-icons {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 57.5%;
    height: 0;
}

.nav-icons img {
    width: 1.7rem;
    cursor: pointer;
    padding: .3rem 1rem 0rem .7rem;

    transition: .25s ease-in-out;
}

.nav-icons img:hover {
    opacity: .7;
}

.menu-bg {
    position: fixed;
    top: 65%;
    width: 100%;
}

.nav-desk {
    display: none;
}

.fam-mobile {
    width: 100%;
    height: 30rem;
    position: relative;
    bottom: 36rem;
}

.fam-desk {
    display: none;
}

.header-info {
    background-color: #662716;
    width: 100%;
    height: 36rem;
    position: relative;
    top: 30rem;
}

.header-info hr {
    display: none;
}

.hd-info-1 {
    text-align: center;
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 3%;
}

.hd-head {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin: 0 0 1.5rem 0;
    font-size: 55px;
    line-height: 55px;
}

.hd-info-1 p {
    font-family: 'Karla', serif;
    font-weight: 400;
    line-height: 30px;
    padding: 0 65px 0 65px;
    margin: 0 0 2.3rem 0;
}

.hd-info-1 button {
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    padding: 10px 22px;
    letter-spacing: 2px;
    font-size: 15px;

    transition: .2s ease-in-out;
}

.hd-info-1 button:hover {
    color: #662716;
    background-color: #fff;
}

.hd-img-1 {
    width: 15rem;
}

.hd-img-2 {
    position: absolute;
    right: 0;
    bottom: -16rem;
    width: 11rem;
}

.hd-img-desk,
.hd-img-desk-2 {
    display: none;
}

.s1-ct1 {
    text-align: center;
    margin: 5.8rem 0 0 0;
}

.s1-heading {
    line-height: 150px;
    margin: 0 0 3rem 0;
}

.s1-hr {
    width: 30%;
    position: absolute;
    left: 35%;
    background-color: #662716;
}

.s1-heading h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 55px;
}

.s1-ct2 p {
    text-align: center;
    color: #954716;
}

.s1-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s1-img-con-1 {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    background-color: #954716;
    margin: 0 0 1.7rem 0;
}

.s1-img-1 {
    width: 2.5rem;
    position: relative;
    top: 27%;
    left: 28%;
}

.s1-cta h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin: 0 0 .9rem 0;
}

.s1-cta p {
    font-family: 'Karla', serif;
    font-weight: 400;
    line-height: 30px;
    padding: 0 90px 0 90px;
    margin: 0 0 5rem 0;
}

.s1-ctb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s1-img-con-2 {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    background-color: #954716;
    margin: 0 0 1.7rem 0;
}

.s1-img-2 {
    width: 2.52rem;
    position: relative;
    top: 26.5%;
    left: 27.8%;
}

.s1-ctb h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin: 0 0 .9rem 0;
}

.s1-ctb p {
    font-family: 'Karla', serif;
    font-weight: 400;
    line-height: 30px;
    padding: 0 90px 0 90px;
    margin: 0 0 5rem 0;
}

.s1-ctc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s1-img-con-3 {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    background-color: #954716;
    margin: 0 0 1.7rem 0;
}

.s1-img-3 {
    width: 2.52rem;
    position: relative;
    top: 26.5%;
    left: 32%;
}

.s1-ctc h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin: 0 0 .9rem 0;
}

.s1-ctc p {
    font-family: 'Karla', serif;
    font-weight: 400;
    line-height: 30px;
    padding: 0 90px 0 90px;
    margin: 0 0 7rem 0;
}

.info-sect-2 {
    background-color: #662716;
    background-image: url(img/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 50% 100%;
    width: 100%;
    height: 29rem;
}

.s2-info {
    color: #fff;
    text-align: center;
    padding: 6rem 0 0 0;
}

.s2-info h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin: 0 0 1.5rem 0;
    padding: 0px 50px 0px 50px;
    font-size: 50px;
    line-height: 53px;
}

.s2-info button {
    font-family: 'Karla', serif;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    padding: 10px 22px;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 1.5rem 0 0 0;

    transition: .2s ease-in-out;
}

.s2-info button:hover {
    color: #662716;
    background-color: #fff;
}

footer {
    background-color: #f5f5f5;
    background-image: url(img/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: 500px 250px;
    width: 100%;
    margin: 5rem 0 0 0;
}

.footer-ct {
    text-align: center;
    font-family: 'Karla', serif;
    font-weight: 700;
}

.ft-logo {
    margin: 5rem 0 2.2rem 0;
}

.icons {
    margin: 0 0 2.4rem 8px;
}

.icons img {
    width: 1.7rem;
    margin: 0 15px 0 0;
    cursor: pointer;
    opacity: .7;

    transition: .25s ease-in-out;
}

.icons img:hover {
    opacity: 1;
}

footer hr {
    position: relative;
    left: 5%;
    margin: 0 0 3rem 0;
    width: 90%;
}

.fct {
    padding: 0 0 3rem 0;
}

.fct a {
    display: inline-block;
    width: 50%;
    color: #662716;
}

.footer-ct h4 {
    color: #4e4e4e;
    letter-spacing: 1px;
    margin: 0 0 1.5rem 0;
}

.footer-ct p {
    letter-spacing: 1px;
    line-height: 30px
}

.ft-ct-5 {
    padding: 0 0 3.5rem 0;
}


@media screen and (min-width: 521px) {

    .fam-mobile {
        display: none;
    }

    .fam-desk {
        display: block;
        width: 70%;
        height: 25rem;
        position: absolute;
        right: 14.7%;
        bottom: 14rem;
    }

    .header-info {
        background-color: #662716;
        width: 100%;
        height: 57rem;
        position: relative;
        top: 3rem;
    }

    .hd-info-1 {
        text-align: center;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 54%;
        left: 3%;
    }

    .s1-ct1 {
        margin: 10.8rem 0 0 0;
    }

    .hd-img-1 {
        position: relative;
        top: 0%;
        width: 15rem;
    }

    .info-sect-2 {
        background-color: #662716;
        background-image: url(img/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 30% 100%;
        width: 100%;
        height: 24rem;
    }
}

@media screen and (min-width: 621px) {

    .top-logo {
        position: relative;
        top: -.3rem;
        left: 1rem;
        float: left;
    }

    .fam-desk {
        display: block;
        width: 60%;
        height: 27rem;
        position: absolute;
        right: 19.7%;
        bottom: 10rem;
    }

    .header-info {
        background-color: #662716;
        width: 100%;
        height: 62rem;
        position: relative;
        top: 3.2rem;
    }

    .hd-info-1 {
        text-align: center;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 60%;
        left: 3%;
    }

    .s1-ct1 {
        margin: 10.8rem 0 0 0;
    }

    .hd-img-1 {
        position: relative;
        top: 1.8%;
        width: 15rem;
    }
}

@media screen and (min-width: 768px) {
    
    .ham-img {
        display: none;
    }

    .close-img {
        display: none;
    }

    .nav-overlay {
        display: none;
        visibility: hidden;
    }

    .nav-menu {
        display: none;
    }

    .nav-icons {
        display: none;
    }
    
    .nav-desk {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        float: right;
        position: relative;
        left: 2%;
    }

    .nav-desk a {
        text-decoration: none;
        color: #4e4e4e;
    }

    .nav-desk li {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        padding: 0 2.8rem 0 0;

        transition: .25s ease-in-out;
    }

    .n1:hover, .n2:hover, .n3:hover {
        opacity: .7;
    }

    .n4 {
        padding: 0 .5rem 0 0;
    }

    .n4 a {
        border: 1px solid #662716;
        font-size: 16px;
        padding: 8px 16px;
        background-color: #662716;
        color: #fff;
        transition: .25s ease-in-out;
    }
    
    .n4 a:hover, .n4 li:hover {
        background-color: #c55131;
        border: 1px solid #c55131;
    }
}

@media screen and (min-width: 821px) {

    .fam-desk {
        display: block;
        width: 60%;
        height: 30rem;
        position: absolute;
        right: 19.7%;
        bottom: 8.5rem;
    }

    .header-info {
        background-color: #662716;
        width: 100%;
        height: 62rem;
        position: relative;
        top: 3.2rem;
    }

    .hd-info-1 {
        text-align: center;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 60%;
        left: 3%;
    }

    .hd-info-1 p {
        padding: 0 65px 0 65px;
        margin: 0 0 2.3rem 0;
    }

    .s1-ct1 {
        margin: 10.8rem 0 0 0;
    }

    .hd-img-1 {
        position: relative;
        top: 1.8%;
        width: 15rem;
    }

    .info-sect-2 {
        background-color: #662716;
        background-image: url(img/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 20% 100%;
        width: 100%;
        height: 21rem;
    }

    .ft-ctb {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fct {
        width: 100%;
    }

    .fct a {
        width: 100%;
    }

    .ft-ct-4 {
        position: relative;
        top: -.99rem;
    }
    .ft-ct-5 {
        position: relative;
        top: -.7rem;
    }
}

@media screen and (min-width: 920px) {

    .fam-desk {
        display: block;
        width: 40%;
        height: 25rem;
        position: absolute;
        right: 3.7%;
        bottom: 11rem;
    }

    .header-info {
        background-color: #662716;
        width: 100%;
        height: 38rem;
        position: relative;
        top: 3.2rem;
    }

    .hd-info-1 {
        text-align: center;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 22%;
        left: -43%;
    }

    .hd-info-1 p {
        padding: 0 480px 0 480px;
        margin: 0 0 2.3rem 0;
    }

    .s1-ct1 {
        margin: 10.8rem 0 0 0;
    }

    .hd-img-1 {
        display: none;
    }

    .hd-img-2 {
        display: none;
    }

    .hd-img-desk {
        position: relative;
        top: 65%;
        float: left;
        width: 10rem;
        display: block;
    }

    .hd-img-desk-2 {
        position: absolute;
        right: 0;
        width: 15.5rem;
        z-index: 5;
        display: block;
    }

    .info-sect-2 {
        background-color: #662716;
        background-image: url(img/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: 105% 100%;
        background-size: 70% 100%;
        width: 100%;
        height: 21rem;
    }

    .s2-info {
        display: flex;
        position: relative;
        top: 5%;
        left: -6.5%;
    }

    .s2-info h1 {
        margin: 0 0 1.5rem 0;
        padding: 0px 105px 0px 105px;
        font-size: 50px;
        line-height: 53px;
        width: 100%;
        position: relative;
        left: 2%;
    }
    
    .s2-info button {
        font-family: 'Karla', serif;
        font-weight: 700;
        color: #fff;
        background-color: transparent;
        border: 3px solid #fff;
        padding: 10px 22px;
        letter-spacing: 2px;
        font-size: 15px;
        margin: 2.2rem 0 0 0;
        position: relative;
        right: 10%;
    
        transition: .2s ease-in-out;
    }

    .s2-info a {
        width: 50%;
    }

    .ft-ctb {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fct {
        width: 100%;
    }

    .fct a {
        width: 100%;
    }

    .ft-ct-4 {
        position: relative;
        top: -.99rem;
    }
    .ft-ct-5 {
        position: relative;
        top: -.7rem;
    }
}

@media screen and (min-width: 1020px) {

    .fam-desk {
        display: block;
        width: 40%;
        height: 25rem;
        position: absolute;
        right: 3.7%;
        bottom: 11rem;
    }

    .header-info {
        background-color: #662716;
        width: 100%;
        height: 38rem;
        position: relative;
        top: 3.2rem;
    }

    .hd-info-1 {
        text-align: center;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 22%;
        left: -43%;
    }

    .hd-info-1 p {
        padding: 0 550px 0 550px;
        margin: 0 0 2.3rem 0;
    }

    .s1-ct1 {
        margin: 10.8rem 0 0 0;
    }

    .hd-img-1 {
        display: none;
    }

    .hd-img-2 {
        display: none;
    }

    .hd-img-desk {
        position: relative;
        top: 65%;
        float: left;
        width: 10rem;
        display: block;
    }

    .hd-img-desk-2 {
        position: absolute;
        right: 0;
        width: 15.5rem;
        z-index: 5;
        display: block;
    }

    .info-sect-2 {
        background-color: #662716;
        background-image: url(img/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: 105% 100%;
        background-size: 70% 100%;
        width: 100%;
        height: 21rem;
    }

    .s2-info {
        display: flex;
        position: relative;
        top: 5%;
        left: -6.5%;
    }

    .s2-info h1 {
        margin: 0 0 1.5rem 0;
        padding: 0px 105px 0px 105px;
        font-size: 50px;
        line-height: 53px;
        width: 100%;
        position: relative;
        left: 2%;
    }
    
    .s2-info button {
        font-family: 'Karla', serif;
        font-weight: 700;
        color: #fff;
        background-color: transparent;
        border: 3px solid #fff;
        padding: 10px 22px;
        letter-spacing: 2px;
        font-size: 15px;
        margin: 2.2rem 0 0 0;
        position: relative;
        right: 10%;
    
        transition: .2s ease-in-out;
    }

    .s2-info a {
        width: 50%;
    }

    .ft-ctb {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fct {
        width: 100%;
    }

    .fct a {
        width: 100%;
    }

    .ft-logo {
         float: left;
         margin: 3rem 0 2.2rem 0;
         padding: 0 0 0 4.5rem;
    }

    .icons {
        float: right;
        position: relative;
        top: 2.95rem;
        padding: 0 4.2rem 0 0;
    }

    .footer hr {
        width: 100%;
    }

    .ft-ct-4 {
        position: relative;
        top: -.99rem;
    }
    .ft-ct-5 {
        position: relative;
        top: -.7rem;
    }
}

@media screen and (min-width: 1115px) {

    .fam-desk {
        display: block;
        width: 39%;
        height: 33rem;
        position: absolute;
        right: 7.7%;
        bottom: 5.1rem;
    }

    .header-info {
        background-color: #662716;
        width: 100%;
        height: 33rem;
        position: relative;
        top: 3.2rem;
    }

    .header-info hr {
        display: block;
        width: 14%;
        height: 1px;
        background-color: #fff;
    }

    .hd-info-1 {
        text-align: left;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 15%;
        left: 13%;
    }

    .hd-head {
        margin: 3rem 0 1.5rem 0;
    }

    .hd-info-1 p {
        padding: 0 0px 0 0px;
        margin: 0 0 2.3rem 0;
        width: 40%;
    }

    .hd-img-1 {
        display: none;
    }

    .hd-img-2 {
        display: none;
    }

    .hd-img-desk {
        position: relative;
        top: 65%;
        float: left;
        width: 10rem;
        display: block;
    }

    .hd-img-desk-2 {
        position: absolute;
        right: 0;
        width: 17.5rem;
        z-index: 5;
        display: block;
    }

    .s1-ct1 {
        margin: 12.8rem 0 0 0;
    }

    .s1-ct1 hr {
        position: absolute;
        left: 0;
        width: 11%;
    }

    .s1-ct1 {
        text-align: left;
        position: relative;
        left: 7.2%;
        width: 90%;
    }

    .s1-ct2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .s1-sub {
        margin: 1rem 0 13.5rem 0;
    }

    .s1-sub p {
        width: 70%;
        height: 0;
        margin: 0;
        padding: 0px;
    }

    .s1-ctc p {
        padding: 0;
    }

    .info-sect-2 {
        background-color: #662716;
        background-image: url(img/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 60% 100%;
        width: 80%;
        height: 15rem;
        position: relative;
        left: 10%;
    }

    .s2-info {
        display: flex;
        position: relative;
        top: -10%;
        left: -6.5%;
    }

    .s2-info h1 {
        margin: 0 0 1.5rem 0;
        padding: 0px 105px 0px 105px;
        font-size: 50px;
        line-height: 53px;
        width: 100%;
        position: relative;
        left: 2%;
    }
    
    .s2-info button {
        font-family: 'Karla', serif;
        font-weight: 700;
        color: #fff;
        background-color: transparent;
        border: 3px solid #fff;
        padding: 10px 22px;
        letter-spacing: 2px;
        font-size: 15px;
        margin: 2.2rem 0 0 0;
        position: relative;
        right: 0%;
    
        transition: .2s ease-in-out;
    }

    .s2-info a {
        width: 50%;
    }

    .ft-ctb {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fct {
        width: 100%;
    }

    .fct a {
        width: 100%;
    }

    .ft-logo {
         float: left;
         margin: 3rem 0 2.2rem 0;
         padding: 0 0 0 4.5rem;
    }

    .icons {
        float: right;
        position: relative;
        top: 2.95rem;
    }

    .footer hr {
        width: 100%;
    }

    .ft-ct-4 {
        position: relative;
        top: -.99rem;
    }
    .ft-ct-5 {
        position: relative;
        top: -.7rem;
    }
}

@media screen and (min-width: 1450px) {
    
    .fam-desk {
        display: block;
        width: 35%;
        height: 34rem;
        position: absolute;
        right: 13.7%;
        bottom: 4.6rem;
    }

    .s1-ct1 {
        margin: 16rem 0 0 0;
    }

    .hd-img-desk {
        position: relative;
        top: 55%;
        float: left;
        width: 13rem;
        display: block;
    }

    .hd-img-desk-2 {
        position: absolute;
        top: -22%;
        right: 0;
        width: 25.5rem;
    }

    .info-sect-2 {
        background-position: 100% 100%;
        background-size: 55% 100%;
        width: 80%;
        height: 15rem;
    }

    .s2-info h1 {
        margin: 0 0 1.5rem 0;
        padding: 0px 105px 0px 105px;
        font-size: 50px;
        line-height: 53px;
        width: 45%;
        position: relative;
        left: 8%;
    }

    .s2-info button {
        position: relative;
        left: 22%;
    }
}